/* Phones */
@media only screen and (max-width: 767px){
  header .header-menu{
    display: none;
  }
  header .menu-btn{
    display: flex;

  }
  header .logo{
    font-size: 1.3rem;
  }
  .mobile-menu{
    display: flex;
  }
}
